body{
    background-color: #4877d5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.container{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  gap: 100px;
}
.container>div:nth-of-type(1){
margin-top: -80px;
}
.container>div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container>div>p,.container>p{
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.box-container{
  display: flex;
  gap: 20px;
}
.box-container .box1{
  padding-left: -50px;
  width: 450px;
 height: 200px;
 display: flex;
 gap: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
 
}
.box1>div>p:nth-of-type(1){
  font-weight: 600;
}
.box1>div>p:nth-of-type(2){
  line-height: 22px;
  color: grey;
}
.box1 img{
  width: 200px;
  height: 200px;
}
.container>div>button{
  color: white;
  background-color: #29c784;
  border: none;
  padding-inline: 35px;
  padding-block: 15px;
  border-radius: 30px;
}