
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  height: 80px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: calc(100vh - 80px);
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  background: #f4f4f4;
  padding: 20px;
}

/* CONTENT */
.content {
  background: #eaeaea;
  padding: 20px;
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.box {
  width: 100px;
  height: 100px;
  background: #ff5733;
  margin-top: 30px;
  animation: rotateScale 2s linear infinite;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: 250px 1fr;
  }
}
